<p id="notice"><%= notice %></p>

<h1>Listing Coops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coops.each do |coop| %>
      <tr>
        <td><%= coop.name %></td>
        <td><%= link_to 'Show', coop %></td>
        <td><%= link_to 'Edit', edit_coop_path(coop) %></td>
        <td><%= link_to 'Destroy', coop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coop', new_coop_path %>
