<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coop.name %>
</p>

<%= link_to 'Edit', edit_coop_path(@coop) %> |
<%= link_to 'Back', coops_path %>
<%= link_to 'Final dates for orders', coop_finalisings_path(@coop) %>
<%= form_for(@coop) do |f| %>
  <%= f.hidden_field :member_id, :value =>current_member.id%>
  <div class="actions">
    <%= f.submit 'Join the COOP' %>
  </div>
<% end %>

