<p id="notice"><%= notice %></p>

<h1>Listing Price Lists for <%= @supplier.name %></h1>

<table>
  <thead>
    <tr>
      <th>Effective date</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_lists.each do |price_list| %>
      <tr>
        <td><%= price_list.EffectiveDate %></td>       
        <td><%= link_to 'Edit', edit_supplier_price_list_path(@supplier,price_list) %></td>
        <td><%= link_to 'Destroy', supplier_price_list_path(@supplier,price_list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price list', new_supplier_price_list_path %>
