<p id="notice"><%= notice %></p>

<h1>Listing Price Lists</h1>

<table>
  <thead>
    <tr>
      <th>Effectivedate</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_lists.each do |price_list| %>
      <tr>
        <td><%= price_list.EffectiveDate %></td>
        <td><%= price_list.supplier %></td>
        <td><%= link_to 'Show', price_list %></td>
        <td><%= link_to 'Edit', edit_price_list_path(price_list) %></td>
        <td><%= link_to 'Destroy', price_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price list', new_price_list_path %>
