<p id="notice"><%= notice %></p>

<p>
  <strong>Effectivedate:</strong>
  <%= @price_list.EffectiveDate %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @price_list.supplier %>
</p>

<%= link_to 'Edit', edit_price_list_path(@price_list) %> |
<%= link_to 'Back', price_lists_path %>
