<p id="notice"><%= notice %></p>

<h1>Listing final dates for <%= @coop.name %> COOP</h1>

<table>
  <thead>
    <tr>
      <th>Final date</th>
      <th>Coop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finalisings.each do |finalising| %>
      <tr>
        <td><%= finalising.final_date %></td>             
        <td><%= link_to 'Edit', edit_coop_finalising_path(@coop,finalising) %></td>
        <td><%= link_to 'Destroy', coop_finalising_path(@coop,finalising), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New final date', new_coop_finalising_path %>
