<p id="notice"><%= notice %></p>

<p>
  <strong>Final date:</strong>
  <%= @finalising.final_date %>
</p>

<p>
  <strong>Coop:</strong>
  <%= @finalising.coop %>
</p>

<%= link_to 'Edit', edit_coop_finalising_path(@coop,@finalising) %> |
<%= link_to 'Back', coop_finalisings_path %>
