<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @member.number %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @member.join_date %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
